In [ ]:
#wap to print table of 5
5*1

5

In [ ]:
5*2

10

In [ ]:
#Arithmetic operator
a=5
b=2
print('value of a+b is',a+b)
print('value of a-b is',a-b)
print('value of a*b is',a*b)
print('value of a/b is',a/b)
print('value of a//b is',a//b)
print('value of a%b is',a%b)

value of a+b is 7
value of a-b is 3
value of a*b is 10
value of a/b is 2.5
value of a//b is 2
value of a%b is 1

In [ ]:
#Assignment operator
a=6
a+=4
print(a)

10

In [ ]:
b=4
b-=2
print(b)

2

In [ ]:
c=8
c*=4
print(c)

32

In [ ]:
d=9
d/=3
print(d)

3.0

In [ ]:
#Wap to calculater sq of a no entered by user
a=4
b=a*a
print('sq of a is',b)

sq of a is 16

In [5]:
a=11
b='john'
print(a,b)
type(a)

11 john

int

In [6]:
type(b)

str

In [7]:
x="john's"
print(x)

john's

In [5]:
story="once upon a time there was a thristy crow who was not able to find water"
print(len(story))

72

In [7]:
print(story.endswith('find'))

False

In [8]:
print(story.endswith('water'))

True

In [9]:
print(story.count('a'))

6

In [12]:
print(story.capitalize())   #capitalize converts the first letter into capital

Once upon a time there was a thristy crow who was not able to find water

In [14]:
print(story.find('crow'))

37

In [16]:
print(story.replace('crow','cow'))

once upon a time there was a thristy cow who was not able to find water

In [23]:
#ESCAPE SEQUENCE AND CHARACTERS
\n - for new line
\t-  for giving a tab space

In [22]:
story='ajay is good.\nHe is a\t good boy'
print(story)

ajay is good.
He is a	 good boy

In [26]:
#Wap to display user entered name follwed by good afternoon using input func
a=input('enter name\n')
print('Good afternoon, '+ a)

enter name
rey
Good afternoon, rey

In [29]:
letter='''Dear <|Name|>
You are selected!

Date:<|Date|>
'''
name=input('enter your name\n')
date=input('enter Date\n')
letter=letter.replace('<|Name|>',name)
letter=letter.replace('<|Date|>',date)
print(letter)

enter your name
Joy
enter Date
3 dec
Dear Joy
You are selected!

Date:3 dec

In [31]:
#wap to detect double spaces in string
st='This is a string  with double spaces'
doublespace=st.find('  ')
print(doublespace)

16

In [40]:
#wap to replace double spaces with single space in string
st='This is a string  with double  spaces'
st=st.replace('  ',' ')
print(st)

This is a string with double spaces

In [44]:
#Wap to format following letter using escape sequence character
letter="Dear Harry!This python course is nice.Thanks!"
letter1="Dear Harry!\n\tThis python course is nice.\nThanks!"
print(letter1)

Dear Harry!
	This python course is nice.
Thanks!