In [ ]:
#Wap to add all nos in list
a=[2,5,-3,-2,7]
b=0
for i in a:
  b=b+i
print(b)

9

In [ ]:
#Wap to reverse a list
a=[4,7,-3,6,-13]
a.reverse()
a

[-13, 6, -3, 7, 4]

In [ ]:
#Wap to swap 1st and last no of list
a=[4,7,-3,6,-13]
a[0],a[-1]=a[-1],a[0]
a

[-13, 7, -3, 6, 4]

In [ ]:
#Wap to find max num in list
a=[4,-7,3,6,13]
max =0
for i in a:
  if max <i:
     max =i
print('max is',max)

max is 13

In [ ]:
#Wap to find min num in list
a=[4,1,2,8,3]
min=a[0]
for i in a:
  if min >i:
    min =i
print('min is',min)

min is 1

In [ ]:
#Wap to find even num in list
x=[3,2,12,1,23,33,64,26]
for i in x:
  if i%2==0:
    print('even num',i)

even num 2
even num 12
even num 64
even num 26

In [ ]:
#Wap to find odd num in list
x=[3,2,12,1,23,33,64,26]
for i in x:
  if i%2!=0:
    print('odd num',i)

odd num 3
odd num 1
odd num 23
odd num 33

In [ ]:
#Wap to find common element in list
a=[3,8,1,6,14,21,33]
b=[1,4,33,15,8,12]
for i in a:
  for j in b:
    if i==j:
     print('common element is',i)

common element is 8
common element is 1
common element is 33

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
x[0::2]

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
#count even & odd num in list
count_even=0
count_odd=0
x=[4,8,1,9,3,21,14,11,24]
for i in x:
  if i%2==0:
    count_even=count_even+1
    print('even',i)
  else:
    count_odd=count_odd+1
    print('odd',i)
print('count_even',count_even)
print('count_odd',count_odd)

even 4
even 8
odd 1
odd 9
odd 3
odd 21
even 14
odd 11
even 24
count_even 4
count_odd 5

In [ ]:
w='hello world'
w[::-1]

'dlrow olleh'

In [ ]:
#prime no
print('prime nums are')
lower=8
upper=40
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

prime nums are
11
13
17
19
23
29
31
37

In [ ]:
#lcm
x=5
y=12
if x>y:
  greater=x
else:
  greater=y
  value=greater
while True:
  if greater%x ==0 and greater%y==0:
    break
  else:
    greater=greater+value
print('lcm is',greater)

lcm is 60

In [ ]:
#rev num
x=83295
rev_num=0
while x!=0:
  value=x%10
  rev_num=rev_num*10+value
  x=x//10
print('rev_num is',rev_num)

rev_num is 59238