In [1]:
a={'name':'ram',
  'age':21,
  'address':'gwl'}

In [2]:
a

{'name': 'ram', 'age': 21, 'address': 'gwl'}

In [3]:
type(a)

dict

In [4]:
#wap to make a dict of emp having name,emp id & salary
x={'name':'ajay',
  'emp_id':793,
  'sal':29000}

In [5]:
print(x)
type(x)

{'name': 'ajay', 'emp_id': 793, 'sal': 29000}

dict

In [6]:
# slicing using key
x

{'name': 'ajay', 'emp_id': 793, 'sal': 29000}

In [7]:
x['name']

'ajay'

In [8]:
y={'name':('A','B','C','D'),
  'age':[11,33,29,67],
  'gender':['F','M','F','F']}

In [9]:
y

{'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [10]:
y['gender'][1]='F'
# Gender data is defined in list

In [11]:
y

{'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'F', 'F', 'F']}

In [12]:
y['name'][2]='G'
#Name data is defined in tuple

TypeError: 'tuple' object does not support item assignment

#  Dictionary is not mutable as it doesn't have indexes, list (not tuple)in a dictionary is mutable

In [13]:
#Wap to make empty dict
x={}

In [14]:
type(x)

dict

In [15]:
#Wap to make single element dict
z={'age':65,
  }

In [16]:
z

{'age': 65}

In [17]:
type(z)

dict

In [18]:
# Dictionary method
# 1)Clear
# 2)Get
# 3)Pop
# 4)Update
# 5)Values
# 6)Copy
# 7)Items
# 8)Key

In [19]:
y

{'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'F', 'F', 'F']}

In [20]:
y.keys()

dict_keys(['name', 'age', 'gender'])

In [21]:
y.values()

dict_values([('A', 'B', 'C', 'D'), [11, 33, 29, 67], ['F', 'F', 'F', 'F']])

In [22]:
y.items()

dict_items([('name', ('A', 'B', 'C', 'D')), ('age', [11, 33, 29, 67]), ('gender', ['F', 'F', 'F', 'F'])])

In [23]:
y.clear()

In [24]:
y

{}

In [25]:
y={'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [26]:
y.pop('age')[2]

29

In [27]:
# age 29 is to be removed but POP will remove whole 'AGE' column(i.e key)

In [28]:
y

{'name': ('A', 'B', 'C', 'D'), 'gender': ['F', 'M', 'F', 'F']}

In [29]:
y

{'name': ('A', 'B', 'C', 'D'), 'gender': ['F', 'M', 'F', 'F']}

In [30]:
y={'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [31]:
y.get('age')

[11, 33, 29, 67]

In [32]:
y

{'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [33]:
y['age']=[23,15]
# 23,15 is overwritten on 11,33,29,67

In [34]:
y

{'name': ('A', 'B', 'C', 'D'), 'age': [23, 15], 'gender': ['F', 'M', 'F', 'F']}

In [35]:
y={'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [36]:
p={'car':('jaguar','benz'),
  'model':(2001,2005),
  'age':(45,89)}

In [37]:
y.update(p)
# updates the dictionary by adding key value pairs of new dictionary

In [38]:
y

{'name': ('A', 'B', 'C', 'D'),
 'age': (45, 89),
 'gender': ['F', 'M', 'F', 'F'],
 'car': ('jaguar', 'benz'),
 'model': (2001, 2005)}

In [39]:
#the diff between .get and []syntax in dictionary

In [40]:
#prints value associated with key 'class'
y['class']

#throws error as 'class' is not present in dictionary

KeyError: 'class'

In [41]:
#prints value associated with key 'class'
print(y.get('class'))

# returns none as 'class' is not present in dictionary

None

In [42]:
y={'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}

In [43]:
# Copying dict. in other variable
w=y.copy()

In [44]:
w

{'name': ('A', 'B', 'C', 'D'),
 'age': [11, 33, 29, 67],
 'gender': ['F', 'M', 'F', 'F']}