In [1]:
def salutation():
    print('Good morning')

In [2]:
salutation()

Good morning

In [6]:
def func(name):
    print(name +' here')

In [7]:
func('adi')

adi here

In [13]:
def fn(*bro):
    print('my elder brother is ' +bro[3])

In [14]:
fn('r','d','u','y','e','w')

my elder brother is y

In [28]:
def name(n1,n2,n3,n4):
    print('that one is my friend ' +n3)
name(n1='r',n2='w',n3='f',n4='j')

that one is my friend f

In [38]:
def fun(**kid):
    print('his full name is ' +kid['fname']+kid['lname'])

fun(fname='g',lname='d')

his full name is gd

In [40]:
def func(country):
    print('i belong to '+country)
func('india')
func('japan')

i belong to india
i belong to japan

In [44]:
def func(color):
    for i in color:
        print(i)
    
x=['titan','timex','raga','fastrack']
func(x)

titan
timex
raga
fastrack

In [47]:
def fun(a):
    return 5*a

fun(2)

10

In [48]:
fun(7)

35

In [54]:
#LAMBDA FUNCTION
a=lambda a:a+14
print(a(12))

26

In [56]:
q=lambda q:q+11
print(q(13))

24

In [57]:
s=lambda w,r:w*r
print(s(3,7))

21

In [61]:
x=lambda p,q,r:p+q*r
print(x(3,5,2))

13

In [71]:
def myfunc(a):
    return lambda b:a*b
doubler=myfunc(5)
print(doubler(2))

10

In [72]:
def myfunc(a):
    return lambda b:a*b
doubler=myfunc(2)
print(doubler(4))

8

In [73]:
def myf(x):
    return lambda y:x*y
tripler=myf(3)
print(tripler(4))

12

In [74]:
def myfn(p):
    return lambda q:p*q
    return lambda r:p*r
doubler=myfn(2)
tripler=myfn(3)

print(doubler(5))
print(tripler(6))

10
18

# ARRAY

In [75]:
x=[23.9,'kjoadf',903,True,'kadj']
len(x)

5

In [77]:
for y in x:
    print(y)

23.9
kjoadf
903
True
kadj

In [78]:
x.append('3+5j')

In [79]:
x

[23.9, 'kjoadf', 903, True, 'kadj', '3+5j']

In [88]:
x=[23.9, 'kjoadf', 903, True, 'kadj', '3+5j',True,'kadj']

In [89]:
x.remove('kadj')

In [90]:
x

[23.9, 'kjoadf', 903, True, '3+5j', True, 'kadj']

In [91]:
y=[34,78,4.8,11,-3,93,-14,78]
y.remove(78)
y

[34, 4.8, 11, -3, 93, -14, 78]