In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#wap to print nos from 1-20 in alternative way
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [5]:
#wap to print nos from 1-12
x=1
while x<13:
  print(x)
  x+=1

1
2
3
4
5
6
7
8
9
10
11
12

In [6]:
#wap to print -1 to 10  WHILE LOOP
x=-1
while x<11:
  print(x)
  x+=1

-1
0
1
2
3
4
5
6
7
8
9
10

In [7]:
#wap to print -1 to 10 FOR LOOP
for i in range(-1,11):
  print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

In [9]:
#wap to print -1 to -10       FOR LOOP
for i in range(-1,-11,-1):
  print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [10]:
#wap to print -1 to -10    WHILE LOOP
x=-1
while x>-11:
  print(x)
  x-=1

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [11]:
#wap to print 1 to -10    WHILE LOOP
x=1
while x>-11:
  print(x)
  x-=1

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [12]:
#wap to print 1 to -10    FOR LOOP
for i in range(1,-11,-1):
  print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [19]:
a=['kff','jdkd','jkjk','nks']     #BREAK in FOR LOOP
for i in a:
  if i=='jdkd':
   break
  print(i)

kff

In [21]:
a=['kff','jdkd','jkjk','nks']     #CONTINUE in FOR LOOP
for i in a:
  if i=='jdkd':
   continue
  print(i)

kff
jkjk
nks

In [9]:
#BREAK  in WHILE LOOP
x=2
while x<11:
  print(x)
  if x==5:
    break
  x+=1

2
3
4
5

In [11]:
#CONTINUE  in WHILE LOOP
x=2
while x<11:
  x+=1
  if x==5:
    continue
  print(x)

3
4
6
7
8
9
10
11

In [27]:
#wap to print even no from 1 to 20
count=0
for i in range(1,21):
  if i%2==0:
    print(i)
    count=count+1
print('count is',count)

2
4
6
8
10
12
14
16
18
20
count is 10

In [31]:
#wap to print odd no from 20 to 30
count=0
for i in range(20,31):
  if i%2!=0:
    print(i)
    count=count+1
print('count is',count)

21
23
25
27
29
count is 5

In [35]:
#wap to check is string is reversed or not
x='aman'
y=''
for i in x:
  y=i+y
  print(y)

a
ma
ama
nama

In [2]:
#wap to check is string is palindrome or not
a='nitin'
b=''
for i in a:
  b=i+b
if a==b:
    print('pal')
else:
    print('np')

pal

In [3]:
a=22
b=11
if a>b :
  pass