In [1]:
class student:
    def details(self,name,marks,age):
        return (name)
        return (marks)
        return (age)
    
s=student()
s.details('aman',78,25)

'aman'

In [2]:
class stu:
    def details(self,name,marks,age):
        return (name)
        return (marks)
        return (age)
    
s=stu()
s.details('ram',67,28)

'ram'

In [3]:
class stud:
    def details(self,name,marks,age):
        return (name,marks,age)
    
s=stud()
s.details('jjsj',78,34)

('jjsj', 78, 34)

In [4]:
class std:
    def details(self,name,marks,age):
        print (name)
        print (marks)
        print (age)
        
s=std()
s.details('njd',56,22)

njd
56
22

# Constructor

In [5]:
class std:
    def __init__ (self,name,age):
        self.name=name
        self.age=age
        
s=std('dev',12)

In [6]:
s.age

12

In [7]:
s.name

'dev'

# inheritance with constructor

In [8]:
class emp1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class emp2(emp1):
    def __init__(self,sal,age,name):
        emp1.__init__(self,name,age)
        self.sal=sal
        
e=emp2('ajay',44000,66)
e.name

66

In [9]:
e.age

44000

In [10]:
e.sal

'ajay'

# inheritance with function

In [12]:
#wap to check speed of bike using OOPS fundamentals where distance covered by bike is almost 250 km
#and time taken is 10 hrs
class bike:
    def __init__(self,dist,time):
        self.dist=dist
        self.time=time
    
    def speed (self):
        speed=self.dist/self.time
        print(speed)
        
b=bike(250,10)
b.speed()

25.0

In [13]:
#wap to find the salary of 2 emp ram and shyam where ram take 4 leaves in a month with a deduction of 5.6% of salary 
#while shyam take no leave with the increment of 30% in the salary.Find salary with the help of OOPS fundamentals
class emp:
    def __init__(self,leaves_s,leaves_r,sals,salr):
        self.leaves=leaves
        self.sals=sals
        self.salr=salr
        
    def deduction(self):
        deduction_r=5.6/100*salr
        netsalr=salr - deduction_r
        
    def increment(self):
        increment_s=30/100*sals
        netsals=sals+ increment_s
        print('netsalary r',netsalr,'netsalary s',netsals)
        
e=emp(0,4,1000,2000)
e.netsalr

NameError: name 'leaves' is not defined

In [16]:
#wap to find the salary of 2 emp ram and shyam where ram take 4 leaves in a month with a deduction of 5.6% of salary 
#while shyam take no leave with the increment of 30% in the salary.Find salary with the help of OOPS fundamentals
class emp1:
    def __init__(self,leaves,sal):
        self.leaves=leaves
        self.sal=sal
        self.ded=ded
        self.incr=incr
        
class emp2(emp1):
    def __init__(self,leaves,sal):
        emp1.__init__(leaves,sal)
        
    def netsal(self):
        netsal_r=sal-ded

TypeError: __init__() missing 1 required positional argument: 'sal'

In [3]:
#wap to perform inheritance and find the avg marks of std.1 and std.2
class std1:
    def __init__(self,english,hindi):
        self.english=english
        self.hindi=hindi
        
class std2(std1):
    def __init(self,english,hindi):
        std1.__init__(self,english,hindi)
            
    def avg(self):
        avg=(self.english+self.hindi)/2
        print(avg)
            
s=std2(47,38)
s.avg()

42.5

In [4]:
# INHERITANCE ------>>SUPER METHOD 
#wap to perform inheritance and find the avg marks of std.1 and std.2
class std1:
    def __init__(self,english,hindi):
        self.english=english
        self.hindi=hindi
        
class std2(std1):
    def __init(self,english,hindi):
        super.__init__(english,hindi)
            
    def avg(self):
        avg=(self.english+self.hindi)/2
        print(avg)
            
s=std2(20,70)
s.avg()

45.0