In [1]:
 class car:
    price=2000
    
c=car()
c.price

2000

In [2]:
class car:
    price=3000
    
car().price

3000

In [3]:
class std:
    name='hem'
    marks=78
    
s=std()
s.name

'hem'

In [4]:
s.marks

78

In [5]:
s.name,s.marks

('hem', 78)

# Function in OOPS

In [6]:
class student:
    def info(self,name,marks):
        return (name,marks)
    
s=student()
s.info('a',89)

('a', 89)

In [7]:
class std:
    def info(self,name,marks):  
        name='d'
        marks=89
        print(name,marks)
        
s=std()
s.info('g',64)

d 89

In [8]:
s.info('k',73)

d 89

In [9]:
#wap to make a class of simplified arithmetic operators and try to get the output of that class through object
class arith:
    def opr(self,a,b):
        add=a+b
        sub=a-b
        mul=a*b
        div=a/b
        print('add--',add,'sub--',sub,'mul---',mul,'div--',div)

a=arith()        
a.opr(8,2)

add-- 10 sub-- 6 mul--- 16 div-- 4.0

In [10]:
#through user input
class arith:
    def opr(self):
        a=int(input('enter value'))
        b=int(input('enter value'))
        add =a+b
        sub =a-b
        mul =a*b
        div =a/b
        print('add--',add,'sub--',sub,'mul---',mul,'div--',div)

a=arith()        
a.opr()

enter value8
enter value2
add-- 10 sub-- 6 mul--- 16 div-- 4.0

In [11]:
#through user input
class arith:
    def opr(self,a=int(input('enter value')),b=int(input('enter value'))):
        add =a+b
        sub =a-b
        mul =a*b
        div =a/b
        print('add--',add,'sub--',sub,'mul---',mul,'div--',div)

a=arith()        
a.opr()

enter value6
enter value3
add-- 9 sub-- 3 mul--- 18 div-- 2.0

In [12]:
## wap to make a class of car and find its actual price if the car is of more than 10 lakh then there is a tax of 14% on 
#the car and if the cost is less than 10 lakh then there is a discount of 7.8 % on the car.find the actual price of the 
#car paid by the user
class cost():
    def amt(self,price):
        if price>1000000:
            amount=price+(14/100*price)
        elif price<1000000:
            amount=price-(7.8/100*price)
        print('amount paid by user is',amount)
        
c=cost()
c.amt(1700000)

amount paid by user is 1938000.0

In [13]:
#wap to find second highest num 
x=[5,9,2,4,12,33,19,21]
a=x[0]
b=x[1]
for i in x:
    if a<i:
        a=i
    elif b<i:
        b=i
    if a<b:
        print(a)
    else:
        print(b)

5
9
9
9
9
9
19
21

In [14]:
#basic method to find 2nd highest num
x=[5,9,2,4,12,33,19,21]
x.sort()
x[-2]

21

In [15]:
class pen:
    company='reynold'
    type='gel'
    cost=15
    write='blue'
    variant=3
p=pen()
p.type

'gel'

In [16]:
p.cost

15

In [17]:
p.write

'blue'

In [18]:
class std:
    def details(self,name,age,marks,grade):
        return name
        return age
        return marks
        return grade
    
s=std()
s.details('f',12,89,'c')     #only 1st return is working

'f'

In [19]:
s.details('s',23,67,'h')

's'

In [20]:
class std:
    def details(self,name,age,marks,grade):
        print(name)
        print(age)
        print(marks)
        print (grade)
    
s=std()
s.details('r',32,9,'o')

r
32
9
o

In [21]:
class std:
    def details(self,name,age,marks,grade):
        print(name,age,marks,grade)
    
s=std()
s.details('r',32,9,'o')

r 32 9 o

In [22]:
class std:
    def details(self,name,age,marks,grade):
        return(name,age,marks,grade)
    
s=std()
s.details('r',32,9,'o')    #return gives output in tuple form

('r', 32, 9, 'o')

In [23]:
class std:
    def details(self,name,age,marks,grade):
        return name,age,marks,grade
    
s=std()
s.details('r',32,9,'o')            #bracket is not necessary in return

('r', 32, 9, 'o')

# CONSTRUCTOR

In [24]:
class bike:
    def __init__(self,name,company,price):
        self.name=name
        self.company=company
        self.price=price
b=bike('sports','tvs',400)

In [25]:
b.price

400

In [26]:
b.company

'tvs'

In [27]:
b.name

'sports'

# INHERITANCE

In [28]:
class std1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class std2(std1):
    def __init__(self,name,age,marks):
        std1.__init__(self,name,age)
        self.marks=marks
        
s=std2('a',30,89)
s.name

'a'

In [29]:
s.age

30

In [30]:
s.marks

89

In [31]:
class std1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class std2(std1):
    def __init__(self,age,marks,name):
        std1.__init__(self,name,age)
        self.marks=marks
        
s=std2('a',30,89)
s.name

89

In [32]:
s.age

'a'

In [33]:
s.marks

30

In [34]:
#wap to check speed of bike using oops fundamentals where distance covered by bike is almost 250 km and time taken 
#is 10 hrs
class bike:
    def __init__(self,dist,time):
        self.dist=dist
        self.time=time
        
    def speed(self):
        speed=self.dist/self.time
        print(speed) 
        
b=bike(250,10)
b.speed()

25.0

In [35]:
#Wap to find the salary of 2 emp ram and shyam where ram takes 4 leaves in a month with a deduction of 5.6% of salary
#and shyam takes no leave with increment of 30% in salary.Find salary with the help of OOPS fundamentals
class ram:
    def __init__(self,levr):
        self.levr=levr
        
class shyam(ram):
    def __init__(self,levs):
        ram.__init__(self,levr,levs)
        self.levs=levs
        
    def salary():
        leave=0
        sal=1000
        if leave==0:
            incr=30/100*sal
            tsal=sal+inr
            print(tsal)
        elif leave==4:
            ded=5.6/100*sal
            tsal=sal-ded
            print(tsal)
            
s=shyam(0)
s.salary()

NameError: name 'levr' is not defined

In [36]:
#wap to perform inheritance and find the avg marks of student 1 and student2
class std1:
    def __init__(self,marks1):
        self.marks1=marks1
        
class std2(std1):
    def __init__(self,marks1,marks2):
        std1.__init__(self,marks1)
        self.marks2=marks2
    def avg(self):
              avrg=(self.marks1+self.marks2)/2
              print(avrg)
            
s=std2(35,89)
s.avg()

62.0

In [37]:
#wap to perform inheritance and find the avg marks of student 1 and student2
class std:
    def __init__(self,marks1,marks2):
        self.marks1=marks1
        self.marks2=marks2
        
class avg(std):
    def __init__(self,marks1,marks2):
        std.__init__(self,marks1,marks2)
    def avg(self):
        avg=(self.marks1+self.marks2)/2
        print(avg)
        
a=avg(45,23)
a.avg()

34.0

# super method

In [38]:
#wap to perform inheritance and find the avg marks of student 1 and student2
class std:
    def __init__(self,marks1,marks2):
        self.marks1=marks1
        self.marks2=marks2
        
class avg(std):
    def __init__(self,marks1,marks2):
        super().__init__(marks1,marks2)         #gives access of attributes in parent class to child class directly
    def avg(self):
        avg=(self.marks1+self.marks2)/2
        print(avg)
        
a=avg(56,23)
a.avg()

39.5

In [39]:
#wap to perform inheritance and find the avg marks of student 1 and student2
class std1:
    def __init__(self,marks1):
        self.marks1=marks1
        
class std2(std1):
    def __init__(self,marks1,marks2):
        super().__init__(marks1)
        self.marks2=marks2
    def avg(self):
              avrg=(self.marks1+self.marks2)/2
              print(avrg)
            
s=std2(35,89)
s.avg()

62.0

# Multilevel inheritance

In [40]:
##INHERITANCE---------1#gpc to pc
class gpc:
    def __init__(self,name):
        self.name=name
        
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        
class cc:
    def __init__(self,sal):
        self.sal=sal
      
p=pc('nkf',12)
p.name

'nkf'

In [41]:
p.age

12

In [42]:
##INHERITANCE---------2#pc to cc
class gpc:
    def __init__(self,name):
        self.name=name
        
class pc:
    def __init__(self,age):
        self.age=age
        
class cc(pc):
    def __init__(self,age,sal):
        super().__init__(age)
        self.sal=sal
        
c=cc(23,8000)
c.sal

8000

In [43]:
c.age

23

In [44]:
##INHERITANCE---------3#gpc to pc
class gpc:
    def __init__(self,name):
        self.name=name
        
class pc:
    def __init__(self,age):
        self.age=age
        
class cc(gpc):
    def __init__(self,name,sal):
        super().__init__(name)
        self.sal=sal
        
c=cc('jks',100)
c.name

'jks'

In [45]:
c.sal

100

In [46]:
##INHERITANCE---------4#gpc to pp to cc
class gpc:
    def __init__(self,name):
        self.name=name
        
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        
class cc(pc):
    def __init__(self,name,age,sal):
        super().__init__(name,age)
        self.sal=sal
        
c=cc('jd',27,2000)
c.sal

2000

In [47]:
c.age

27

In [48]:
c.name

'jd'

In [49]:
#3 sub ke marks ka avg find kro and individually 200 se kam marks ho to fail
class marks:
    def __init__(self,sub1,sub2,sub3):
        self.sub1=sub1
        self.sub2=sub2
        self.sub3=sub3
    
    def avg(self):
        avrg=(self.sub1+self.sub2+self.sub3)/3
        print('average is',a)
    if avrg<200:
        avrg=(self.sub1+self.sub2+self.sub3)/3
        print('fail')

NameError: name 'avrg' is not defined

In [50]:
#wap to perform multilevel inheritance and try to get the attrinutes of each class
class ggpc:
    def __init__(self,pf):
        self.pf=pf
        
class gpc(ggpc):
    def __init__(self,name,id,pf):
        super().__init__(pf)
        self.name=name
        self.id=id
        
class pc(gpc):
    def __init__(self,wages,grade,name,id,pf):
        super().__init__(name,id,pf)
        self.wages=wages
        self.grade=grade
        
class cc(pc):
    def __init__(self,dependents,wages,grade,name,id,pf):
        super().__init__(wages,grade,name,id,pf)
        self.dependents=dependents
        
c=cc(2,100,'dx','ram',234,30)
c.pf

30

In [51]:
c.dependents

2

In [52]:
c.name

'ram'

In [53]:
c.id

234

In [54]:
c.grade

'dx'

# Empty Class

In [55]:
class a:
    pass
x=a()
print(a)

<class '__main__.a'>

In [56]:
class empty:
    None
    
e=empty()

In [57]:
print(e)

<__main__.empty object at 0x0000021CB45D0670>

In [58]:
#Wap to make 3 class in which one class is completely empty and try to inherit the attribute of each class
class pc:
    def __init__(self,name,id):
        self.name=name
        self.id=id        
class cc(pc):
    def __init__(self,age):
        super().__init__(name,id)
        self.age=age
class a(cc):
    super().__init__(name,id,age)
    pass 

z=a()
print(z)

RuntimeError: super(): no arguments

In [59]:
#Wap to make 3 class in which one class is completely empty and try to inherit the attribute of each class
class emp:
    None
class pc(emp):
    def __init__(self,name,id):
        self.name=name
        self.id=id        
class cc(pc):
    def __init__(self,age):
        super().__init__(name,id)
        self.age=age
        
c=cc('jd',888,45)
c.name

TypeError: __init__() takes 2 positional arguments but 4 were given