In [1]:
class details:
  def std(self,name,marks,age):
    return name                              #only 1st return will work
    return marks
    return age

d=details()
d.std('h',12,78)

'h'

In [2]:
class details:
  def std(self,name,marks,age):
    print(name)
    print (marks)
    print (age)

d=details()
d.std('h',78,12)

h
78
12

# INHERITANCE

In [4]:
#INheritance with constructor
class std1:
  def __init__(self,name,age):
    self.name = name
    self.age = age

class std2(std1):
  def __init__(self,name,age,marks):               #argument order should be same i.e name,age,sal
    std1.__init__(self,name,age)
    self.marks =marks

s=std2('xyz',34,67)                                #argument order should be same

In [5]:
s.name

'xyz'

In [6]:
s.marks

67

In [7]:
#Inheritance with function
class emp1:
  def infor1(self,name,id):

class emp2(emp1):
  def infor2(self,sal):
    emp1.__init__(self,name,id)
    return name,id,sal

IndentationError: expected an indented block after function definition on line 3 (3149882249.py, line 5)

In [8]:
#INHERITANCE WITH SUPER METHOD

#Perform encapsulation where you have to find the marks of 2 student, if anyone of the student is going to fail in any subject then
#you have to hide the data of the subject
class s1:
  def __init__(self,__x,y):
    self.x=x
    self.y=y

class s2(s1):
  def __init__(self,x,y):
    super().__init__(x,y)

s=s2(44,12)
s.x

NameError: name 'x' is not defined

In [9]:
s.y

AttributeError: 'std2' object has no attribute 'y'

In [10]:
#Calculate speed by OOPS concept dist=250km & time =10hrs
class bike:
  def __init__(self,dist,time):
    self.dist=dist
    self.time=time

  def speed(self):
      speed=self.dist/self.time
      print(speed)

b=bike(250,10)
b.speed()

25.0

In [11]:
#wap to find the salary of 2 emp ram and shyam where ram take 4 leaves in a month with a deduction of 5.6% of salary while shyam take no leave with the increment
#of 30% in the salary.Find salary with the help of OOPS fundamentals
class Employee:
  def __init__(self,name,leaves,salary):
    self.name=name
    self.leaves=leaves
    self.salary=salary

  def cal_salary(self):
    pass

class Ram(Employee):
  def cal_salary(self):
    if self.leaves==4:
      dedn=self.salary*(5.6/100)
      netsalary=self.salary-dedn
      print(f"Netsalary of {self.name} is {netsalary}")

class Shyam(Employee):
  def cal_salary(self):
    incr=self.salary*(30/100)
    netsalary=self.salary+incr
    print(f"Netsalary of {self.name} is {netsalary}")

ram=Ram('Ram',4,3000)
shyam=Shyam('Shyam',0,2000)

In [12]:
ram.cal_salary()

Netsalary of Ram is 2832.0

In [13]:
shyam.cal_salary()

Netsalary of Shyam is 2600.0

# Encapsulation ---Data hide from user

# #Data hide types----1)Private                       ------>>these are also called access modifiers
#                     2)public
#                     3)protected---not supported in python

In [14]:
class student:
  def __init__(self,__name,age):
    self.__name=__name
    self.age=age

std=student('kd',21)

In [15]:
class std:
  def __info(self,name,age):
    return name,age

  def detail(self,marks):
    return marks

s=std()
s.detail(134)

134

In [16]:
s.info

AttributeError: 'std' object has no attribute 'info'

In [17]:
class person:

  #public
  def a(self,name):
    print(name)

  #private
  def __b(self,age):
    print(age)

  def _c(self,marks):
    print(marks)

p=person()
p.a('gh')

gh

In [18]:
p.b(11)

AttributeError: 'person' object has no attribute 'b'

In [19]:
p._c(78)

78

In [20]:
# Program to find output of inheritance class where 3 classes are defined in such a mannner that each one is having some access modifiers
# to get the output
class x1:
  def a(self,name):
    print(name)

class x2:
  def b(self,age):
    print(age)

class x3:
  def c(self,id):
    print(id)

In [21]:
#Program to get the score of 2 player if the player is not able to make run then dont show data in output
class player1:
  def __init__(self,name1,r1):
    self.name1=name1
    self.r1=r1

class player2(player1):
  def __init__(self,name1,r1,name2,__r2):
    super().__init__(name1,r1)
    self.name2=name2
    self.r2=r2

p=player2('xy',23,'fg',0)

NameError: name 'r2' is not defined

In [22]:
p.name1

AttributeError: 'person' object has no attribute 'name1'

In [23]:
p.r1

AttributeError: 'person' object has no attribute 'r1'

In [24]:
p.name2

AttributeError: 'person' object has no attribute 'name2'

In [25]:
p.r2

AttributeError: 'person' object has no attribute 'r2'