In [1]:
class car:
    price=100000
    print(price)

100000

In [2]:
#class
class car:
    price=20000

#object
c=car()    #by adding variable
c.price

20000

In [3]:
#class
class car:
    price=13000
        #without adding vaiable, working with object only
#object
car().price

13000

In [4]:
#wap to make a class of student having name and marks and make an object to get the output
class student:
    name='a','b'
    marks=89,95
 
s=student()
s.marks,s.name

((89, 95), ('a', 'b'))

In [17]:
#function in class

class student:
    def info(self,name,marks):
        return(name,marks)
    
s=student()
s.info('f',97)

('f', 97)

In [6]:
class student:
    def info(self,name,marks):
        return(name,marks)
    
s=student()
s.info('f',89)

('f', 89)

In [7]:
class student:
    def info(self,name,marks=90):
        name='w'
        marks=79
        return(name,marks)
    
s=student()
s.info('r',67)

('w', 79)

In [8]:
s.info('v',88)

('w', 79)

In [9]:
#wap to make a class of simplified arithmetic operation and get the output of that class through object
        #taking user input
class arithmetic:
    def opr(self):
        a=int(input('enter no'))   
        b=int(input('enter no'))
        add=a+b
        sub=a-b
        mul=a*b
        div=a/b
        print('add>>>',add,'sub>>>>',sub,'mul>>>',mul,'div>>>>',div)
#return is not used bcz it gives single output 
    
a=arithmetic()
a.opr()

enter no6
enter no8
add>>> 14 sub>>>> -2 mul>>> 48 div>>>> 0.75

In [10]:
#wap to make a class of simplified arithmetic operation and try to get the output of that class through object
       #taking user input
class arith:
    def info(self,a=int(input('enter value1')),b=int(input('enter value2'))):
        add= a+b
        subtract=a-b
        multiply=a*b
        divide= a/b
        print('add>>>>>>>',add,'subtract>>>>>>',subtract,'multiply>>',multiply,'divide>>>>',divide)
        
z=arith()
z.info()

enter value17
enter value25
add>>>>>>> 12 subtract>>>>>> 2 multiply>> 35 divide>>>> 1.4

In [11]:
#wap to make a class of simplified arithmetic operation and get the output of that class through object
class arithmetic:
    def opr(self,a,b):
        add=a+b
        sub=a-b
        mul=a*b
        div=a/b
        print('add>>>',add,'sub>>>>',sub,'mul>>>',mul,'div>>>>',div)
#return is not used bcz it gives single output 
    
a=arithmetic()
a.opr(12,3)

add>>> 15 sub>>>> 9 mul>>> 36 div>>>> 4.0

In [12]:
## wap to make a class of car and find its actual price if the car is of more than 10 lakh then there is a tax of 14% on 
#the car and if the cost is less than 10 lakh then there is a discount of 7.8 % on the car.find the actual price of the 
#car paid by the user
class amount:
    def cost(self,price):
        if price>=1000000:
            tax=(price*14)/100
            net_price=price+tax
            print('tax',tax)
            print('net_price',net_price)
        else:
            dis=(price*7.8)/100
            net_p=price-dis
            print('dis',dis)
            print('net_p',net_p)
        
a=amount()
a.cost(11000)

dis 858.0
net_p 10142.0

In [13]:
#find max with the help of func
a=[23,89,53,67,25,55]
def info(a):
    max=a[0]
    for i in a:
        if i>max:
            max=i
            print('max',max)

info(a)

max 89

In [14]:
#find max with the help of func using class
a=[23,89,53,67,25,55]
class max:
    def info(self):
        max=a[0]
        for i in a:
            if i>max:
                max=i
                print('max',max)

m=max                
m.info(a)

max 89

In [15]:
#wap to find 2nd highest num
a=[23,89,92,67,25,55,44,-85,21,211]
a.sort()
a[-2]

92