In [1]:
#class
class car:
    price=1400
 
#object
c=car()                          #usually this method is prefered
c.price

1400

In [2]:
class bike:
    price =100
    
bike().price

100

In [3]:
# make class of object having name and marks and make an object to get the o/p
class student:
    name='G'
    marks=56
    
s=student()
s.name

'G'

In [4]:
s.marks

56

In [5]:
s.name,s.marks

('G', 56)

In [6]:
# make class of object having name and marks and make an object to get the o/p using function
class student:
    def info(self,name,marks):           #self bata rha he ki class ke andar func he or uske andar properties he 
        print(name,marks)                #jisko object me call kra rhe he
              
s=student()                                                #in properties ko OOPS me attributes kehte he
s.info('J',73)                   #gives o/p in raw form

J 73

In [7]:
# make class of object having name and marks and make an object to get the o/p using function
class student:
    def info(self,name,marks):
        return(name,marks)
        
s=student()
s.info('J',73)                   #gives o/p in tuple form

('J', 73)

In [8]:
# make class of object having name and marks and make an object to get the o/p using function
class student:
    def info(self,name,marks):
        name='L'                     # pehle class ke andar jo properties define ker di he vo chalengi  
        marks=43
        print(name,marks)
        
s=student()
s.info('J',73)

L 43

In [9]:
s.info('t',49)

L 43

In [10]:
# Max no in list using function
def maxm():
    d=[3,-8,1,22,45,-41,11]
    max=d[0]
    for i in d:
        if i>max:
            max=i
    print('max is',max)

In [11]:
maxm()

max is 45

In [12]:
#Wap to make a class of simplified arithmetic operator and try to get o/p of that class through object
class arith():
    def opr(self,x,y):
        c=x+y
        d=x-y
        e=x*y
        f=x/y
        return('add is',c,'diff is',d,'prod is',e,'div is',f)
    
a=arith()
a.opr(4,2)

('add is', 6, 'diff is', 2, 'prod is', 8, 'div is', 2.0)

In [13]:
a.opr(5,10)

('add is', 15, 'diff is', -5, 'prod is', 50, 'div is', 0.5)

In [14]:
#Wap to make a class of simplified arithmetic operator and try to get o/p of that class through object (USER INPUT)
class arith():
    def opr(self,x=int(input('enter no1')),y=int(input('enter no2'))):
            c=x+y
            d=x-y
            e=x*y
            f=x/y
            return('add is',c,'diff is',d,'prod is',e,'div is',f)
    
a=arith()
a.opr()

enter no16
enter no22

('add is', 8, 'diff is', 4, 'prod is', 12, 'div is', 3.0)

In [15]:
#Wap to make a class of simplified arithmetic operator and try to get o/p of that class through object (USER INPUT)
class arith():
    def opr(self):
            x=int(input('enter no1'))
            y=int(input('enter no2'))
            c=x+y
            d=x-y
            e=x*y
            f=x/y
            return('add is',c,'diff is',d,'prod is',e,'div is',f)
    
a=arith()
a.opr()

enter no18
enter no24

('add is', 12, 'diff is', 4, 'prod is', 32, 'div is', 2.0)

In [16]:
#wap to make a class of car and find its actual price if the car is of more than 10 lakh then there is a tax of 14% on
#the car and if the cost is less than 10 lakh then there is a discount of 7.8 % on the car.find the actual price 
#of the car paid by the user
class car:
    def amount(self,price):
        if price<1000000:
            discount=7.8/100*(price)
            act_price=price-discount
            print('actual price is',act_price)
        elif price>1000000:
            tax=14/100*(price)
            act_price=price+tax
            print ('actual price is',act_price)
            
c=car()

In [17]:
c.amount(1100000)

actual price is 1254000.0

In [18]:
class emp:
    def employee(self,name,id):
        print(name)
        print(id)
        
e=emp()
e.employee('Y',28)

Y
28

In [19]:
class emp:
    def employee(self,name,id):
        return(name)                          #only 1st return is working
        return(id)
        
e=emp()
e.employee('Y',28)

'Y'

In [20]:
class emp:
    def employee(self,name,id):
        print(name,id)
        
e=emp()
e.employee('Y',28)

Y 28

In [21]:
class emp:
    def employee(self,name,id):
        return(name,id)
        
e=emp()
e.employee('Y',28)

('Y', 28)

In [22]:
class emp:
    def employee(self,name,id):
        return name,id
        
e=emp()
e.employee('Y',28)

('Y', 28)

# CONSTRUCTOR

In [23]:
class stud:
    def __init__(self,name,age):              #code is optimised by constructor as there are 2 steps in func, 
        self.name =name                       # first one is calling object and then calling func while single step is there
        self.age= age                         #in constructor
                                               
s=stud('yr',12)                               #1st self tells about constructor to class and 2nd self tells about attributes
                                              #to constructor

In [24]:
s.age

12

In [25]:
s.name

'yr'

# Inheritance by constructor method

In [26]:
class emp1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class emp2(emp1):
    def __init__(self,name,age,id):
        emp1.__init__(self,name,age)
        self.id=id
        
e=emp2('f',11,629)

In [27]:
e.name

'f'

In [28]:
e.age

11

In [29]:
e.id

629

In [30]:
#Find speed of bike using OOPs fundamentals where dist covered is 250 km and time taken is 10 hrs
class bike:
    def __init__(self,dist,time):
        self.dist=dist
        self.time=time
        
    def spd(self):
        speed=self.dist/self.time
        return speed
    
b=bike(250,10)

In [31]:
b.spd()

25.0

In [32]:
# Program to find salary of 2 employee ram and shyam where ram takes 4 leaves in a month with a deduction of 5.6% of salary
# while shyam take no leave with increment of 30% in salary.Find salary with help of OOP fumdamental
class Employee:
 def __init__(self,name,leave,salary):
        self.name=name
        self.leave=leave
        self.salary=salary
        
 def cal_salary(self):
        pass
    
class ram(Employee):
 def cal_salary(self):
    if self.leave==4:
        net_salary=self.salary-((5.6/100)*self.salary)
        print(f"Net salary of {self.name} is {net_salary}")
                
class shyam(Employee):
 def cal_salary(self):
    if self.leave==0:
        net_salary=self.salary+((30/100)*self.salary)
        print(f"Net salary of {self.name} is {net_salary}")
                
r=ram('Ram',4,3000)
s=shyam('Shyam',0,2000)

In [33]:
r.cal_salary()

Net salary of Ram is 2832.0

In [34]:
s.cal_salary()

Net salary of Shyam is 2600.0

In [35]:
# Program to find o/p of inheritance class where 3 classes are defined in such a manner that each one is having some access
#modifiers to get the o/p
class x1:
    def __init__(self,name):
        self.name=name
    
class x2(x1):
    def __init__(self,name,age):
        x1.__init__(self,name)
        self.age=age
        
class x3(x2):
    def __init__(self,name,age,id):
        x2.__init__(self,name,age)
        self.id=id
        
x=x3('W',11,545)

In [36]:
x.name

'W'

In [37]:
x.age

11

In [38]:
x.id

545

In [39]:
# gpc to cc:
class gpc:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class cc(gpc):
    def __init__(self,name,age,sal):
        self.sal=sal
        super().__init__(name,age)
        
c=cc('J',45,6400)

In [40]:
c.sal

6400

In [41]:
c.age

45

In [42]:
# pc to cc:
class pc:
    def __init__(self,emp_id):
        self.emp_id=emp_id
        
class cc(pc):
    def __init__(self,emp_id,sal):
        self.sal=sal
        super().__init__(emp_id)
        
t=cc(894,8000)

In [43]:
t.sal

8000

In [44]:
t.emp_id

894

In [45]:
# gpc to pc to cc
class gpc:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
class pc:
    def __init__(self,emp_id):
        self.emp_id=emp_id
    
class cc(gpc,pc):
    def __init__(self,name,age,emp_id,sal):
        super().__init__(name,age,emp_id)
        self.sal=sal
        

x=cc('U',12,321,3000)

TypeError: gpc.__init__() takes 3 positional arguments but 4 were given

In [46]:
x.sal

AttributeError: 'x3' object has no attribute 'sal'

In [47]:
# Multilevel inheritance by super method
class one:
    def __init__(self,name):
        self.name=name                         
        
class two(one):
    def __init__(self,name,marks):
        super().__init__(name)                          #super method works one time in a class
        self.marks=marks
        
class three(two):
    def __init__(self,name,marks,section):
        super().__init__(name,marks)
        self.section=section
        
w=three('dh',77,'H')

In [48]:
w.name

'dh'

In [49]:
w.section

'H'

In [50]:
w.marks

77

## Inheritance in Function

In [51]:
class one:
    def fn(self,ask):
        return ask
    
class two:
    def fun(self,something):
        return something
    
class three(one):
    def func(self,about):
        return about
    
q=three()
q.func(1)

1

In [52]:
q.fn(7)

7

In [53]:
class one:
    def fn(self,ask):
        return ask
    
class two:
    def fun(self,something):
        return something
    
class three(two):
    def func(self,about):
        return about
    
r=three()
r.func(3)

3

In [54]:
r.fun(5)

5

In [55]:
class one:
    def fn(self,ask):
        return ask
    
class two(one):
    def fun(self,something):
        return something
    
class three():
    def func(self,about):
        return about
    
s=two()
s.fn(2)

2

In [56]:
s.fun(0)

0

In [66]:
class one:
    def fn(self,ask):
        return ask
    
class two(one):
    def fun(self,something):
        return something
    
class three(one):
    def func(self,about):
        return about
    
class three(two):
    def func(self,about):
        return about
    
u=three()
u.fn(9)

9

In [67]:
u.func(6)

6

In [69]:
u.fun(11)

11