In [1]:
#diff bw append and insert
# append- add data in last of list and only 1 argument is to be given (not used in TUPLE)
# insert- add data to specified index and 2 arguments (index no and data) is to be given [not used in TUPLE]

In [2]:
#Diff bw remove , delete & pop 
# remove- remove given data from list
# delete- not used for both list and tuple
# pop-remove last data from list

In [51]:
a=(2,9,-1,True,'hello',-2,'good',3)

In [52]:
a.append()

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
a.insert()

AttributeError: 'tuple' object has no attribute 'insert'

In [54]:
a.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [55]:
a.delete()

AttributeError: 'tuple' object has no attribute 'delete'

In [56]:
z=[2,9,-1,True,'hello',-2,'heya']

In [57]:
z.append(0)

In [58]:
z

[2, 9, -1, True, 'hello', -2, 'heya', 0]

In [59]:
z.insert(5,10)

In [60]:
z

[2, 9, -1, True, 'hello', 10, -2, 'heya', 0]

In [61]:
z.remove(9)

In [62]:
z

[2, -1, True, 'hello', 10, -2, 'heya', 0]

In [15]:
z.delete()

In [16]:
z

[2, -1, True, 'hello', 10, -2, 'heya', 0]

In [17]:
z.pop()

0

In [18]:
#Range func in python>>>>>> It tells that how many times the loop is to be executed
for i in range(10):
    print(i)
# Only 1 value i.e ending point is given so it will go upto n-1

0
1
2
3
4
5
6
7
8
9

In [19]:
#Range func in python
for i in range(2,10):
    print(i)
#both staring and ending point is given so it will start from given point and go upto n-1

2
3
4
5
6
7
8
9

In [20]:
#Range func in python
for i in range(2,20,4):
    print(i)
# Staring, ending point and step size is given so it will start from given point, go upto n-1 and also takes n-1 steps

2
6
10
14
18

In [21]:
#Diff bw == & = operator 
# == >>>comparison operator
# = >>>assignment operator

In [22]:
# Reversing a string using indexing
x='hello champ'
x[::-1]

'pmahc olleh'

In [23]:
#wap to print all prime nos from 10-50
lower=10
upper=50
for i in range(lower,upper+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                print('non prime',i)
                break
        else:
            print('prime',i)

non prime 10
prime 11
non prime 12
prime 13
non prime 14
non prime 15
non prime 16
prime 17
non prime 18
prime 19
non prime 20
non prime 21
non prime 22
prime 23
non prime 24
non prime 25
non prime 26
non prime 27
non prime 28
prime 29
non prime 30
prime 31
non prime 32
non prime 33
non prime 34
non prime 35
non prime 36
prime 37
non prime 38
non prime 39
non prime 40
prime 41
non prime 42
prime 43
non prime 44
non prime 45
non prime 46
prime 47
non prime 48
non prime 49
non prime 50

In [24]:
#wap to check if a num is prime or not
num=int(input('enter num'))
if num>1:
    for i in range(2,num):
        if num%i==0:
            print('non prime')
            break
    else:
        print('prime')
else:
    print('invalid')

enter num11
prime

In [25]:
#wap to find lcm of 2 nos
x=6
y=9

#check for greatest num
if x>y:
    greater=x
else:
    greater=y
while True:
    if greater%x == 0 and greater%y == 0:
        lcm=greater 
        print('lcm is',lcm)
        break       
    greater+=1

lcm is 18

In [26]:
#wap to find reverse of a num
x=6378
rev_num=0
while x!=0:
    value=x%10
    rev_num=rev_num*10+value
    x=x//10
print('rev_num is',rev_num)

rev_num is 8736

In [27]:
#wap to print fizz and buzz ,if a num is divisible by 3 print fizz ,if a num is divisible by 5 print buzz and if divisible by
#both print fizz buzz.If not divisible by anyone print -1 or divisible by 2 , print even or divisible by 3 but not by 2 and 5,
#then print odd.
num=15
if num%3==0:
    print('fizz')
elif num%5==0:
    print('buzz')
elif num%3==0 and num%5==0:
    print('fizz buzz')
elif num%3!=0 and num %5!=0:
    print('-1')
elif num%2==0:
    print('even')
elif num%3==0 and num %2!=0 and num% 5!=0:
    print('odd')

fizz

In [28]:
#How to print sum of the numbers starting from 1 to 100>>>>>> Using FORMULA method
for i in range(1,11):
    sum = i*((i+1)/2)
print('sum of nos is',sum)

sum of nos is 55.0

In [29]:
#How to print sum of the numbers starting from 1 to 100 >>>>>> Using WHILE loop
#num=enter that num upto which num are to be added
num=150
x=1
sum=0
while x<=num:
    sum = sum+x
    x+=1
print('sum',sum)

sum 11325

In [30]:
#What is the output, Suppose list1 is [1, 3, 2], What is list1 * 2?
p= [1, 3, 2]
for i in p:
    q=i*2
    print(q)

2
6
4

In [31]:
#write a program to find the average of numbers in a list in Python?

a=[3,9,4,8,6,1]
b=0
for i in a:
    b=b+i/6
print('Avg is',b)

Avg is 5.166666666666667

In [32]:
#WAP to check a number is positive , negative or zero
num=8
if num>0:
    print('+ve')
elif num<0:
    print('-ve')
elif num==0:
    print('zero')

+ve

In [33]:
 #WAP to check a number is divisible by 5 and 11 or not
num=55
if num % 5==0 and num%11!=0:
    print('only divisible by 5')
elif num%11==0 and num%5!=0:
    print('only divisible by 11')
elif num % 5==0 and num%11==0:
    print('divisible by both 5 and 11')
elif num % 5!=0 and num%11!=0:
    print('not divisible')

divisible by both 5 and 11

In [34]:
#.WAP to calculate profit & loss.
cp=500
sp=1000
if sp>cp:
    profit=sp-cp
    print('profit of rs',profit)
elif sp<cp:
    loss=cp-sp
    print('loss of rs',loss)
elif sp==cp:
    print('no profit no loss')

profit of rs 500

In [35]:
#WAP to Input the basic salary of employee & calculate its gross salary   
# Basic Salary <= 10000 : HRA = 20%, DA = 80%
# Basic Salary <= 20000 : HRA = 25%, DA = 90%
# Basic Salary > 20000 : HRA = 30%, DA = 95%
sal=11000
if sal>20000:
    hra=sal*30/100
    da=sal*95/100
    net_sal=sal+da+hra
    print('hra and da are',hra,da)
    print('net_sal',net_sal)
elif sal<=10000:
    hra=sal*20/100
    da=sal*80/100
    net_sal=sal+da+hra
    print('hra and da are',hra,da)
    print('net_sal',net_sal)
elif sal<=20000:
    hra=sal*25/100
    da=sal*90/100
    net_sal=sal+da+hra
    print('hra and da are',hra,da)
    print('net_sal',net_sal)

hra and da are 2750.0 9900.0
net_sal 23650.0

In [36]:
# Input the electricity unit charge  & calculate the  total electric bill according to given condition.
# For first 50 units Rs. 0.50/unit
# For next 100 units Rs. 0.75/unit
# For next 100 units Rs. 1.20/unit
# For unit above 250 Rs. 1.50/unit
# An additional surcharge of 20% is added to the bill
unit_used=230
if unit_used<=50:
    bill=unit_used*0.5
    surg=bill*20/100
    t_bill= bill+surg
    print('t_bill is rs',t_bill)
elif unit_used<=150:
    bill=unit_used*0.75
    surg=bill*20/100
    t_bill= bill+surg
    print('t_bill is rs',t_bill)
elif unit_used<=250:
    bill=unit_used*1.2
    surg=bill*20/100
    t_bill= bill+surg
    print('t_bill is rs',t_bill)
elif unit_used>250:
    bill=unit_used*1.5
    surg=bill*20/100
    t_bill= bill+surg
    print('t_bill is rs',t_bill)

t_bill is rs 331.2

In [37]:
#WAP to Swap 2 numbers without using 3rd variable in python.
a=9
b=2
a,b=b,a
print('before swap>>>',a,b)
print('after swap>>>>',a,b)
# This code will not work

before swap>>> 2 9
after swap>>>> 2 9

In [38]:
#WAP to Swap 2 numbers without using 3rd variable in python.
a=9
b=2
print('before swap>>>',a,b)
a,b=b,a
print('after swap>>>>',a,b)

before swap>>> 9 2
after swap>>>> 2 9

In [39]:
# Write a program to find the sum of the digits of a number in Python?
x=396
sum=0
while x!=0:
    value=x%10
    x=x//10
    sum=sum+value
print('sum',sum)

sum 18

In [40]:
#How to sort list of tuples.
#lang_listtuple= [('C#',1), ('Go',7), ('Basic',8), ('Python',60)]
a= [('C#',1), ('Go',7), ('Basic',8), ('Python',60)]
a.sort()

In [41]:
a

[('Basic', 8), ('C#', 1), ('Go', 7), ('Python', 60)]

In [42]:
# WAP to delete set of keys in dict
# Keys to delete [‘name’,’age’]

animaldict = {
  'name': 'Dog',
  'age':5,
  'Weigh': 4,
  'Country': 'US',
  'City':'California'
}

In [43]:
animaldict

{'name': 'Dog', 'age': 5, 'Weigh': 4, 'Country': 'US', 'City': 'California'}

In [44]:
animaldict.pop('age')

5

In [45]:
animaldict

{'name': 'Dog', 'Weigh': 4, 'Country': 'US', 'City': 'California'}

In [46]:
animaldict.pop('name')

'Dog'

In [47]:
animaldict

{'Weigh': 4, 'Country': 'US', 'City': 'California'}

In [48]:
#WAP for simple interest in python
p=5000
r=3
t =4
si=p*r*t/100
print('simple interest is',si)

simple interest is 600.0

In [49]:
#WAP for compound interest in python
p=15000
r=5
t =2
ci=p*(pow(1+(r/100),t))
print('compound interest is',ci)

compound interest is 16537.5

In [50]:
#WAP to check the year is leap year or not 
#for leap year , we have to check divisibility by 4,100 and 400 also
year=2800
if year%4==0 and year%100==0 and year%400==0:
    print('its leap year')
else:
    print('no leap year')

its leap year