In [18]:
#Wap to print prime nos from 11 to 40
lower=11
upper=40
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        print('non prime',num)
        break
    else:
      print('prime',num)

prime 11
non prime 12
prime 13
non prime 14
non prime 15
non prime 16
prime 17
non prime 18
prime 19
non prime 20
non prime 21
non prime 22
prime 23
non prime 24
non prime 25
non prime 26
non prime 27
non prime 28
prime 29
non prime 30
prime 31
non prime 32
non prime 33
non prime 34
non prime 35
non prime 36
prime 37
non prime 38
non prime 39
non prime 40

In [20]:
#Reversing string using indexing
x='hello world'
x[::-1]

'dlrow olleh'

In [2]:
#sum of nos starting from 1 to 50
i=1
sum=0
while i<=50:
  sum=sum+i
  i=i+1
print('sum is',sum)

sum is 1275

In [4]:
#Find avg of nos in list
x=[3,6,1,4,2,8]
sum=0
for i in x:
  sum=sum+i
  avg=sum/5
print('avg is',avg)

avg is 4.8

In [6]:
#profit and loss program
sp=50
cp=80
if sp>cp:
  profit=sp-cp
  print('profit is',profit)
elif sp<cp:
  loss=cp-sp
  print('loss is',loss)
else:
  print('no profit no loss')

loss is 30

In [2]:
#Wap to add more than 1 data in list
#METHOD 1
x=[2,5,8,3,6,9]
for i in range(4):
  x.append(i)
print(x)

[2, 5, 8, 3, 6, 9, 0, 1, 2, 3]

In [2]:
#METHOD 2
x=[2,5,8,3,6,9]
x.extend([23,'hi',7+4j,6.2])
x

[2, 5, 8, 3, 6, 9, 23, 'hi', (7+4j), 6.2]

In [3]:
#METHOD 3
a=[3,7,9,2.45,6+4j]
b=[1.2,5+3j,-6]
c=a+b
c

[3, 7, 9, 2.45, (6+4j), 1.2, (5+3j), -6]

In [8]:
#METHOD 4
a=[3,7,9,2.45,6+4j]
b=[1.2,5+3j,-6]
for i in a:
  b.append(i)
print(b)

[1.2, (5+3j), -6, 3, 7, 9, 2.45, (6+4j)]