In [1]:
#Empty tuple
t=()
t

()

In [2]:
type(t)

tuple

In [3]:
t1=(2,7,9,1.5,-3,0)

In [4]:
type(t1)

tuple

In [8]:
t2=(3,)

In [9]:
type(t2)

tuple

In [11]:
a=(4,2,6,1,2,7,9,2,5,2,2,1.1)

In [14]:
a.count(2)

5

In [17]:
a.index(9)

6

In [18]:
#LIST AND TUPLE PROBLEMS

In [29]:
#wap to store seven fruits in a list entered by user
f1=input('enter fruit1')
f2=input('enter fruit2')
f3=input('enter fruit3')
f4=input('enter fruit4')
f5=input('enter fruit5')
f6=input('enter fruit6')
f7=input('enter fruit7')
fruitlist=[f1,f2,f3,f4,f5,f6,f7]
print(fruitlist)

enter fruit1a
enter fruit2b
enter fruit3c
enter fruit4d
enter fruit5e
enter fruit6f
enter fruit7g
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [30]:
#wap to display marks of 6 students and display them in sorted manner
m1=int(input('enter marks 1'))
m2=int(input('enter marks 2'))
m3=int(input('enter marks 3'))
m4=int(input('enter marks 4'))
m5=int(input('enter marks 5'))
m6=int(input('enter marks 6'))
markslist=[m1,m2,m3,m4,m5,m6]
print(markslist)
markslist.sort()
print(markslist)

enter marks 123
enter marks 278
enter marks 311
enter marks 421
enter marks 538
enter marks 69
[23, 78, 11, 21, 38, 9]
[9, 11, 21, 23, 38, 78]

In [1]:
#Wap to sum a list with 4 nos
x=[2,6,3,5]
sum=x[0]+x[1]+x[2]+x[3]
print('sum of 4 nos is',sum)

sum of 4 nos is 16

In [4]:
#Wap to count no of zeros in list
b=(7,0,8,0,0,9)
b.count(0)

3